src/MessageBoardController/Service References/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51604/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51604/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51604/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageBoardDTO" />
      <xsd:import schemaLocation="http://localhost:51604/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAndPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUserAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FillUsersGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillUsersGrid" />
  </wsdl:message>
  <wsdl:message name="IService1_FillUsersGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillUsersGridResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAdministrator" />
  </wsdl:message>
  <wsdl:message name="IService1_IsAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateIsActive_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsActive" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateIsActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPost" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPostResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertNewUser" message="tns:IService1_InsertNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertNewUserResponse" message="tns:IService1_InsertNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUserAndPassword" message="tns:IService1_CheckUserAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserAndPasswordResponse" message="tns:IService1_CheckUserAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillUsersGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FillUsersGrid" message="tns:IService1_FillUsersGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FillUsersGridResponse" message="tns:IService1_FillUsersGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserDetails" message="tns:IService1_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserDetailsResponse" message="tns:IService1_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsAdministrator" message="tns:IService1_IsAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsAdministratorResponse" message="tns:IService1_IsAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangePassword" message="tns:IService1_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangePasswordResponse" message="tns:IService1_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateIsActive" message="tns:IService1_UpdateIsActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateIsActiveResponse" message="tns:IService1_UpdateIsActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewPost" message="tns:IService1_AddNewPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewPostResponse" message="tns:IService1_AddNewPost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAndPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUserAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillUsersGrid">
      <soap:operation soapAction="http://tempuri.org/IService1/FillUsersGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdministrator">
      <soap:operation soapAction="http://tempuri.org/IService1/IsAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsActive">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateIsActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPost">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51604/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>