src/MessageBoardController/Service References/MessageBoardService/MessageBoardCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageBoardCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageBoardCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTranslationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranslationDTO" nillable="true" type="tns:TranslationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranslationDTO" nillable="true" type="tns:ArrayOfTranslationDTO" />
  <xs:complexType name="TranslationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationID" type="xs:int" />
      <xs:element minOccurs="0" name="TranslationKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslationDTO" nillable="true" type="tns:TranslationDTO" />
  <xs:complexType name="ReportRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestForComment" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequestForPost" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportRequestDTO" nillable="true" type="tns:ReportRequestDTO" />
  <xs:complexType name="ArrayOfReportResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportResponseDTO" nillable="true" type="tns:ReportResponseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportResponseDTO" nillable="true" type="tns:ArrayOfReportResponseDTO" />
  <xs:complexType name="ReportResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentCreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NrOfComments" type="xs:int" />
      <xs:element minOccurs="0" name="NrOfPosts" type="xs:int" />
      <xs:element minOccurs="0" name="PostCreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportResponseDTO" nillable="true" type="tns:ReportResponseDTO" />
</xs:schema>