src/MessageBoardController/Service References/MessageBoardService/MessageBoardService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageBoardCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageBoardCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDTO" nillable="true" type="tns:BaseDTO" />
</xs:schema>