src/MessageBoardController/Service References/MessageBoardService/MessageBoardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageBoardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51604/MessageBoardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51604/MessageBoardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51604/MessageBoardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageBoardDTO" />
      <xsd:import schemaLocation="http://localhost:51604/MessageBoardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MessageBoardCommon" />
      <xsd:import schemaLocation="http://localhost:51604/MessageBoardService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageBoardService_InsertNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_InsertNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_CheckUserAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAndPassword" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_CheckUserAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_FillUsersGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillUsersGrid" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_FillUsersGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillUsersGridResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_IsAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAdministrator" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_IsAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_UpdateIsActive_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsActive" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_UpdateIsActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_AddNewPost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPost" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_AddNewPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPostResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_FillPostsGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:FillPostsGrid" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_FillPostsGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillPostsGridResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_ChangeProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_ChangeProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetCommentsForPostID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsForPostID" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetCommentsForPostID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsForPostIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetTranslations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslations" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_GetTranslations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_InsertTranslations_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTranslations" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_InsertTranslations_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTranslationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_UpdateUserLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLanguage" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_UpdateUserLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_RefreshComments_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshComments" />
  </wsdl:message>
  <wsdl:message name="IMessageBoardService_RefreshComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshCommentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageBoardService">
    <wsdl:operation name="InsertNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/InsertNewUser" message="tns:IMessageBoardService_InsertNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/InsertNewUserResponse" message="tns:IMessageBoardService_InsertNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/CheckUserAndPassword" message="tns:IMessageBoardService_CheckUserAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/CheckUserAndPasswordResponse" message="tns:IMessageBoardService_CheckUserAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillUsersGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/FillUsersGrid" message="tns:IMessageBoardService_FillUsersGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/FillUsersGridResponse" message="tns:IMessageBoardService_FillUsersGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/GetUserDetails" message="tns:IMessageBoardService_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/GetUserDetailsResponse" message="tns:IMessageBoardService_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/IsAdministrator" message="tns:IMessageBoardService_IsAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/IsAdministratorResponse" message="tns:IMessageBoardService_IsAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/ChangePassword" message="tns:IMessageBoardService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/ChangePasswordResponse" message="tns:IMessageBoardService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/UpdateIsActive" message="tns:IMessageBoardService_UpdateIsActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/UpdateIsActiveResponse" message="tns:IMessageBoardService_UpdateIsActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/AddNewPost" message="tns:IMessageBoardService_AddNewPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/AddNewPostResponse" message="tns:IMessageBoardService_AddNewPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillPostsGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/FillPostsGrid" message="tns:IMessageBoardService_FillPostsGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/FillPostsGridResponse" message="tns:IMessageBoardService_FillPostsGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/ChangeProfilePicture" message="tns:IMessageBoardService_ChangeProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/ChangeProfilePictureResponse" message="tns:IMessageBoardService_ChangeProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/GetProfilePicture" message="tns:IMessageBoardService_GetProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/GetProfilePictureResponse" message="tns:IMessageBoardService_GetProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsForPostID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/GetCommentsForPostID" message="tns:IMessageBoardService_GetCommentsForPostID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/GetCommentsForPostIDResponse" message="tns:IMessageBoardService_GetCommentsForPostID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/AddComment" message="tns:IMessageBoardService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/AddCommentResponse" message="tns:IMessageBoardService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTranslations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/GetTranslations" message="tns:IMessageBoardService_GetTranslations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/GetTranslationsResponse" message="tns:IMessageBoardService_GetTranslations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTranslations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/InsertTranslations" message="tns:IMessageBoardService_InsertTranslations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/InsertTranslationsResponse" message="tns:IMessageBoardService_InsertTranslations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/UpdateUserLanguage" message="tns:IMessageBoardService_UpdateUserLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/UpdateUserLanguageResponse" message="tns:IMessageBoardService_UpdateUserLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageBoardService/RefreshComments" message="tns:IMessageBoardService_RefreshComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageBoardService/RefreshCommentsResponse" message="tns:IMessageBoardService_RefreshComments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageBoardService" type="tns:IMessageBoardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAndPassword">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/CheckUserAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillUsersGrid">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/FillUsersGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdministrator">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/IsAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsActive">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/UpdateIsActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPost">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/AddNewPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillPostsGrid">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/FillPostsGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/ChangeProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/GetProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsForPostID">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/GetCommentsForPostID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTranslations">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/GetTranslations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTranslations">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/InsertTranslations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLanguage">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/UpdateUserLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshComments">
      <soap:operation soapAction="http://tempuri.org/IMessageBoardService/RefreshComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageBoardService">
    <wsdl:port name="BasicHttpBinding_IMessageBoardService" binding="tns:BasicHttpBinding_IMessageBoardService">
      <soap:address location="http://localhost:51604/MessageBoardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>