src/MessageBoardController/Service References/MessageBoardService/MessageBoardCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageBoardCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageBoardCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTranslationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranslationDTO" nillable="true" type="tns:TranslationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranslationDTO" nillable="true" type="tns:ArrayOfTranslationDTO" />
  <xs:complexType name="TranslationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="Translation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationID" type="xs:int" />
      <xs:element minOccurs="0" name="TranslationKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslationDTO" nillable="true" type="tns:TranslationDTO" />
</xs:schema>